/* Home.css */

.Home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.raise-complaint,
.resource-details {
    margin-bottom: 20px;
}

.raise-complaint form {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; /* Added outer border */
}

.raise-complaint h2,
.resource-details h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

textarea,
select,
button {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: #45a049;
}

.success-message {
    margin-top: 20px;
    padding: 15px;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    border-radius: 8px;
    color: #155724;
}
